{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_app.css' %}">
    <title>Chat</title>
</head>
<body>
    <section class="chat" id="chat">
        <h1 class="chat__title" id="chat__title">Welcome to our chat, {{ request.user.username }} :) </h1>
        <div class="chat__message-input">
            <textarea class="chat__message__input" name="message" id="message" cols="30" rows="10" placeholder="Start typing your message"></textarea>
            <select class="chat__message-mention" name="mention" id="mention">
                <option value="">Choose a user if you want to mention any in your message</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <button class="submit__button" id="message__submit">Send message</button>
        </div>
        <div class="chat-history" id="chat-history">
            {% for message in messages %}
                {% if message.message_type == 'notification' %}
                    <p class="chat__message chat__notification">
                        <span class="chat__message__user">User: {{ message.user.username }}</span>
                        {{ message.message }}
                        <span class="chat__message__time">Time: {{ message.timestamp|date:"d-m-Y H:i" }}</span>
                    </p>
                {% elif message.message_type == 'mention' %}
                    <p class="chat__message chat__mention">
                        <span class="chat__message__user">User: {{ message.user.username }}</span>
                        <span>
                            <span class="chat__message-mention__span">@{{ message.mentioned }}:</span>
                            {{ message.message }}
                        </span>
                        <span class="chat__message__time">Time: {{ message.timestamp|date:"d-m-Y H:i" }}</span>
                    </p>
                {% elif message.message_type == 'chat_message' %}
                    <p class="chat__message message__default">
                        <span class="chat__message__user">User: {{ message.user.username }}</span>
                        {{ message.message }}
                        <span class="chat__message__time">Time: {{ message.timestamp|date:"d-m-Y H:i" }}</span>
                    </p>
                {% endif %}
                {% empty %}
                    <p class="chat__message">There are no messages here...</p>
                {% endfor %}
        </div>
    </section>
    <div class="toast-wrapper" id="toast-wrapper">
        <div class="toast" id="toast">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, debitis.
        </div>
    </div>
    {{ request.user.username|json_script:"userName" }}
</body>
<script src="{% static 'chat_app/js/chat_room.js' %}"></script>
</html>