*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* COMMON */

/* CHAT */

.chat__title {
    text-align: center;
    font-weight: 900;
}

.chat__message-input {
    text-align: center;
}

.chat__message__input {
    width: 60%;
    height: 30%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    padding: 30px;
    transition: 1s;
}

.chat__message__input:focus {
    outline: none;
    box-shadow: 0 0 8px gray, 0 0 10px gray, 0 0 12px gray;
}

.chat__message-mention {
    display: block;
    width: 50%;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    font-size: 20px;
    transition: 1s;
}

.chat__message-mention:focus {
    outline: none;
    box-shadow: 0 0 12px gray, 0 0 15px gray;
}

.submit__button {
    border: none;
    width: 40%;
    padding: 20px 40px;
    cursor: pointer;
    margin: 10px auto;
    background: transparent linear-gradient(135deg, yellowgreen, green, yellowgreen);
    border-radius: 10px;
    transition: 1s;
    box-shadow: 0 0 10px gray;
    font-size: 25px;
}

.submit__button:hover {
    transform: scale(.98);
}

.submit__button:focus {
    outline: none;
    box-shadow: 0 0 8px gray, 0 0 10px gray;
}

.chat__message {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 0 0 10px gray;
    padding: 40px;
}

.chat__message__user,
.chat__message__time {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    white-space: nowrap;
}

.message__default {
    font-weight: bold;
}

.chat__notification {
    color: darkblue;
    font-style: italic;
}

.chat__mention {
    color: green;
    font-style: oblique;
}

.chat__message-mention__span {
    color: red;
    font-weight: 900;
}

.toast-wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 150px;
    transition: 1s;
    transform: translateY(100%) scale(1, 0);
}

.toast {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 50%;
    padding: 10px 50px;
    background: transparent linear-gradient(to right, rgba(128, 128, 128, 0.34), white, white, rgba(128, 128, 128, 0.34));
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    font-size: 25px;
}